[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
TestResults/
src/NuGetBuild/
src/NuGetBuildWp7/
*.nupkg
README.html
/src/.vs/SettingsProviderNet/v16/Server/sqlite3/storage.ide-wal
/src/.vs/SettingsProviderNet/v16/Server/sqlite3/storage.ide-shm
/src/.vs/SettingsProviderNet/v16/Server/sqlite3/storage.ide
/src/.vs/SettingsProviderNet/v16/Server/sqlite3/db.lock
